<h1>{{title}}</h1>
<div>
  <h1>*ngIf Demo</h1>
  <input type="number" [(ngModel)]="num" placeholder="Enter num value here" >
  
  <div *ngIf="num !== undefined">
    <p>
      Entered number : {{num}}
      <span *ngIf="isEvenOdd(); else oddBlock">Even Number</span>
      <ng-template #oddBlock>Odd Number</ng-template>
    </p>

  </div>

</div>

<div>
  <h2>*ngFor Demo</h2>
  <h3>List of Fruits</h3>
  <ul>
    <li *ngFor="let fruit of fruits">{{fruit}}</li>
  </ul>
  <div>
    <input type="text" [(ngModel)]="newFruitValue" placeholder=" Enter new Fruits here">
    <button (click)="addFruit()">Add fruit</button>
  </div>
</div>


<div>
  <h2>*ngSwitchCase Demo</h2>
  <h3>Color Picker</h3>

  <select (change)="setColor($event)">
    <option value="Red">Red</option>
    <option value="Green">Green</option>
    <option value="Blue">Blue</option>
    <option value="Black">Black</option>
  </select>
    <div [ngSwitch]="selectedColor">
      <p *ngSwitchCase="'Red'" style="color: red;">Read Color Selected</p>
      <p *ngSwitchCase="'Green'" style="color: Green;">Green Color Selected</p>
      <p *ngSwitchCase="'Blue'" style="color: blue;">Blue Color Selected</p>
      <p *ngSwitchCase="'Black'" style="color: black;">Black Color Selected</p>
      <p *ngSwitchDefaullt>Unknown color selected</p>
    </div>
  
</div>


